* {

    color: #b4b4b4;
    padding: 0;
    margin: 0;
    font-family: 'Verdana','Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS',  'sans-serif';
    
    
}



body {
    display: flex;
    background-color: black;
    /* justify-content: center; */
    /* max-width:1800px; */
    /* justify-content: flex-end; */
}

h1 {
    font-size: 36px;
    /* text-align: center; */
    font-weight: normal;

}


header {
    background-color: #000000dd;
    display: flex;
    height: 55px;
    width: 100%;
    position: fixed;
    justify-content: center;
   

    
}

nav {
    margin-top: 5px;
}

li {
    list-style-type: none;
    display: inline;
    /* padding-right: 16%; */

}



li a img {
    width: 50px;
    opacity: 0.3;

}


li a img:hover {
    opacity: .6;
}


nav ul li {
    display: inline;
    padding: 10px;
    font-size: 30px;

}

a {
    text-decoration: none;
}

nav a:hover {
    text-shadow: 0px 0px 10px;
    
}

nav a:active {
    color: #f8ff9d;
}

main {

    /* background-color: #969696; */
    display: flex;
    flex-wrap: wrap;
    /* max-width: 1800px; */
    justify-content: center;
    
    padding: 20px;
    padding-top: 60px;
}
header section {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 auto;
    /* width: 100%; */
    padding: 10px 20px 20px 20px;
    overflow: auto;
    
}


section.justifiedRight {
    justify-content: flex-end;
}
main section.margin {
    
    /* width: 1%; */
    /* background-color: red; */
    flex-grow: 1;
}


main section#left {
    display: flex;
    flex-flow: column;
    width: 55%;
    /* padding-bottom: 20px; */
    justify-content: flex-start;
    margin-right: 5px;
    margin-top: 20px;
    /* flex-grow: 1; */
    
}
main section#right {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    width: 38%;
    max-width: 600px;
    background-image: linear-gradient(#131385 100%,#1b0b44 0%);

    /* justify-content: center; */
   /* align-content: flex-start; */
    /* min-height: 1000px; */
    margin-left: 1%;
    padding: 10px;



}







main section {
    display: flex;

    border-radius: 20px;

    margin-bottom: 20px;
}

#photo img {
    width:100%;
    max-height:100%;
    border-radius: 20px;
}


main section div#photo {
    flex: 0 1 auto;   
    /* padding-left: 3%; */
}

main section div.text-area {
    border-radius: 20px;
    flex: 0 1 auto;

    background-image: linear-gradient(#2b2b2b 0%, #111111 100%);
    /* background-color: #111111; */

    padding: 30px;
    margin-top: 20px;
    justify-content: center;

    
}

main section div#contact {
    background-image: none;
    background-color: #111111;
}

a#contact-anchor {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

.project {
    position: relative;
    border-radius: 20px;
    background-color: #6e6e6e33;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    height: 400px;
    /* width: 240px; */
    width: 46%;
    /* max-width: 200px; */
    margin: 2%;
 top: 0%;
    min-width: 200px;
    /* padding: 10px; */
    flex-grow: 1;
     transition: all 0.2s ; 

   
}

 .project:hover {
    

    background-color: #222222ff;
  
    
    margin: -6%;
    /* padding: -2%; */
    /* top: 1%; */
  
    width: 62%;
    height: 480px;

   transition: all 0.5s ease-in-out; 
   z-index: 1;
   box-shadow: 2px 2px 10px black;
   /* transition: none; */

} 

.project:active {
    background-color: #f5ff9f77;
  

    transition: none;
}

h2 {
    
    padding-top: 20px;
    display: inline;
/* background-color: red; */
    text-align: center;
    width: 100%;
    font-size: 20px;
}



.project p {
  
    text-align: center;
    height: 100%;
    padding: 6%;
    /* width: 20px; */
    /* background-color: #1b0b44; */
    width: 88%;
    font-size: 80%;

  
    
    
    

}

.project  img {
    display: flex;
    /* padding: 60px; */
    /* display: block; */
    /* width: 80%; */
    /* height: auto; */
    /* height 100%; */
    /* background-color: #000000; */
    object-fit: contain;
    width: 90%;
    padding: 5%;
    height: 300px;
    justify-content: center;
    /* background-color: red; */
}
@media only screen and (max-height: 450px) {

    header {
        height: 40px;
        
    }
    h1 {
        font-size: 20px;
    }
    nav ul li {
        font-size: 16px;
    }
    nav {
        margin-top: 0;
    }
    main {
        padding-top: 20px;
    }
}

@media only screen and (max-width: 850px) {
    main section#left {
        width: 100%;
        margin-top: 0px;
    }
    main section#right {
        max-width: 850px;
        width: 100%;
    }
    main section div#info {
        padding: 20px;
    }
  
    .project:hover {
           
        margin: 0%;
    
      
        width: 50%;
        height: 420px;
  
    
    
    } 

  
 

   
    
}

@media only screen and (max-width: 635px) {

    header {
        display: block;
        height: 70px;
        /* background-color: red; */
    }
 


    nav ul li {
        font-size:15px;
        
    }
    header section {
        padding: 0;
        justify-content: center;
    }
    section.justifiedRight {
        justify-content: center;
    }
  


}